

.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: #eee;
    padding-bottom: 10px;
    /*    column-gap: 5px;
    row-gap: 5px;*/
}


.weekdays2 {
    color: #666;
    text-align: center;
    background-color: #ddd;
    text-transform: uppercase;
    padding: 10px;
}


.month-name {
    color: white;
    font-size: 20px;
/*    text-transform: uppercase;*/
    letter-spacing: 3px;
}
.year {
    color: white;
    font-size: 20px;
    /*    text-transform: uppercase;*/
    letter-spacing: 3px;
}



