<Div Margin="Margin.Is1.FromBottom.Is1.FromTop">
    <Div 
         TextAlignment="TitleAlignment"
         Style=@($"line-height: 0.1em;margin-top:1em;margin-bottom: 1em;border-bottom: 1px solid {LineColor} !important; ")>
        <Span  TextColor="TitleColor"
              Background="@(string.IsNullOrWhiteSpace(Title)?Background.Transparent:TitleBackground)"
              Padding="Padding.Is2.FromStart.Is2.FromEnd.Is1.FromTop.Is1.FromBottom">
            @Title
        </Span>
    </Div>

</Div>
@code {

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public TextAlignment TitleAlignment { get; set; } = TextAlignment.Center;

    [Parameter]
    public TextColor TitleColor { get; set; } = TextColor.Default;


    [Parameter]
    public Background TitleBackground { get; set; } = Background.White;

    [Parameter]
    public string LineColor { get; set; } = "#ccc";

   

}