<Button  Clicked="ToggleState"  Outline="Outline" Color="ButtonColor">

    @if (Value)
    {
        <Icon TextColor="ToggledColor" Name="@ToggledIcon"></Icon>
    }
    else
    {
        <Icon TextColor="Color" Name="@Icon"></Icon>
    }

</Button>

@code {

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public IconName Icon { get; set; } = IconName.Add;

    [Parameter]
    public IconName ToggledIcon { get; set; } = IconName.Delete;

    [Parameter]
    public TextColor ToggledColor { get; set; } = TextColor.Default;

    [Parameter]
    public TextColor Color { get; set; } = TextColor.Default;

    [Parameter]
    public bool Outline { get; set; } = true;

    [Parameter]
    public Color ButtonColor { get; set; } = Blazorise.Color.Link;


    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }


    private async Task ToggleState()
    {
        Value = !Value;
        await ValueChanged.InvokeAsync(Value);

    }

}
