<Button Clicked="ToggleState" TextAlignment="TextAlignment.Center" Outline="Outline" Color="ButtonColor">
    @if (Value)
    {

        <Span TextColor="ToggledColor" >@ToggledText</Span>
       
    }
    else
    {
        <Span TextColor="Color" >@Text</Span>
    }
</Button>

@code {

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public string ToggledText { get; set; } = "";

    [Parameter]
    public TextColor ToggledColor { get; set; } = TextColor.Default;

    [Parameter]
    public TextColor Color { get; set; } = TextColor.Default;

    [Parameter]
    public bool Outline { get; set; } = true;

    [Parameter]
    public Color ButtonColor { get; set; } = Blazorise.Color.Primary;


    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }


    private async Task ToggleState()
    {
        Value = !Value;
        await ValueChanged.InvokeAsync(Value);

    }

}