@page "/exdivider"
<h3>ExDividerPage</h3>

<h4>Without Text</h4>
<ExDivider/>
<h4>With Text</h4>
<ExDivider Title="With Text"/>
<br/>
<h4>With Positioned Text</h4>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.Start"/>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.Center"/>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.End"/>
<br/>
<h4>With Colored Text</h4>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.Start" TitleColor="TextColor.Danger"/>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.Center" TitleColor="TextColor.Primary"/>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.End" TitleColor="TextColor.Info"/>
<br/>
<h4>With Colored Line</h4>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.Start"  LineColor="#c12458"/>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.Center"  LineColor="#2f50c9"/>
<br/>
<h4>With Colored Background</h4>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.Start" TitleBackground="Background.Danger"/>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.Center" TitleBackground="Background.Primary"/>
<ExDivider Title="With Text" TitleAlignment="TextAlignment.End" TitleBackground="Background.Info"/>

<p></p>
<p></p>


@code {

}
