@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<br />
<Calendar @bind-Date="_dateTime" RenderToday="false" GetItemConfigMethod="GetItemConfigMethod" />


@code
{
    DateTime _dateTime = DateTime.Now;

    private DateItemConfig GetItemConfigMethod(DateTime arg1, DateItemConfig arg2)
    {
        if (arg1.Day is > 12 and < 15)
            return arg2 with { BackgroundColor = "red", TextColor = TextColor.White};
        return arg2;

    }
}


